<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    <label>Seuil de difficulté
        <input name="data.SD" type="text" value="{{data.SD}}" placeholder="seuil de difficulté"/>
    </label>
    <label>protection
        <input name="data.protection" type="text" value="{{data.protection}}" placeholder="Protection apporté"/>
    </label>
    <label>resistance
        <input name="data.resistance" type="text" value="{{data.resistance}}" placeholder="resistance de la pièce"/>
    </label>
</form>